<button
  mat-raised-button
  class="back-link-wrapper cursor-pointer"
  routerLink="/users"
>
  <mat-icon aria-hidden="false" aria-label="Back to users">
    keyboard_backspace
  </mat-icon>
  <span>Back to all users</span>
</button>

<div class="flex-center-container">
  <div class="loader-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="box">
      <h1 class="mat-h1" *ngIf="isProfile">This is you</h1>
      <img
        [src]="user.avatar_url"
        class="rounded-image"
        width="200"
        height="200"
      />
      <h2 class="mat-h1">{{ user.login }}</h2>
    </div>
    <div class="loader-wrapper" *ngIf="isLoadingAdditional">
      <mat-spinner></mat-spinner>
    </div>
    <mat-tab-group [hidden]="isLoadingAdditional">
      <!-- Repos -->
      <mat-tab [label]="'Public Repos: ' + user.public_repos">
        <div class="table-wrapper">
          <table
            mat-table
            [dataSource]="repos"
            *ngIf="!isLoadingAdditional"
            class="pt-20"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">
                <strong>{{ element.name }}</strong>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef>Created</th>
              <td mat-cell *matCellDef="let element">
                {{ element.created_at }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedReposColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedReposColumns"
            ></tr>
          </table>
          <mat-paginator
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            [length]="user.public_repos"
            showFirstLastButtons
            (page)="onReposPageChange($event)"
            class="mat-paginator-sticky"
          ></mat-paginator>
        </div>
      </mat-tab>
      <!-- Followers -->
      <mat-tab [label]="'Followers: ' + user.followers">
        <div class="table-wrapper">
          <table
            mat-table
            [dataSource]="followers"
            *ngIf="!isLoadingAdditional"
          >
            <ng-container matColumnDef="avatar_url">
              <th mat-header-cell *matHeaderCellDef>Avatar</th>
              <td mat-cell *matCellDef="let element">
                <img
                  [src]="element.avatar_url"
                  class="rounded-image"
                  width="100"
                  height="100"
                />
              </td>
            </ng-container>

            <ng-container matColumnDef="login">
              <th mat-header-cell *matHeaderCellDef>Login</th>
              <td mat-cell *matCellDef="let element">
                <strong>{{ element.login }}</strong>
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element">
                {{ element.type }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedFollowersColumns; sticky: true"
            ></tr>
            <tr
              class="cursor-pointer"
              mat-row
              *matRowDef="let row; columns: displayedFollowersColumns"
              (click)="onFollowerClick(row)"
            ></tr>
          </table>
          <mat-paginator
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            [length]="user.followers"
            showFirstLastButtons
            (page)="onFollowersPageChange($event)"
            class="mat-paginator-sticky"
          ></mat-paginator>
        </div>
      </mat-tab>
      <!-- Issues -->
      <mat-tab
        *ngIf="isProfile"
        [label]="'Issues: ' + (issues ? issues.length : '')"
      >
        <div class="table-wrapper">
          <table mat-table [dataSource]="issues" *ngIf="!isLoadingAdditional">
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element">
                <strong>{{ element.title }}</strong>
              </td>
            </ng-container>

            <ng-container matColumnDef="link">
              <th mat-header-cell *matHeaderCellDef>Link</th>
              <td mat-cell *matCellDef="let element">
                <a [href]="element.html_url" target="_blank">Link</a>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedIssuesColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedIssuesColumns"
            ></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
