/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.box {
    padding: 20px;
    position: relative;
    text-align: center;
}

.loader-wrapper {
    padding: 100px;
}

.cursor-pointer {
    cursor: pointer;
}

.rounded-image {
    border-radius: 50%;
}

// FLEX CLASSES

.flex-center-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flex-spacebetween {
    display: flex;
    justify-content: space-between;
}

.flex-center-container {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    width: 100%;
}
